/* Generic Styles for Body */
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* Header Background Color Override */
.header-bg-color {
    background-color: #264653;
}

/* Button Background Color Override */
.btn-bg-color {
    background-color: #E76F51;
}

.text-color-oragne {
    color: #E76F51;
    font-size: .75rem !important;
}

.grayscale-image {
    /* Safari 6.0 - 9.0 */
    -webkit-filter: grayscale(100%);
    /* For other browsers */
    filter: grayscale(100%);
}
