/* Generic Styles for Body */
body {
    font-family: 'Poppins', sans-serif;
}

/* Header Background Color Override */
.header-bg-color {
    background-color: #264653;
}

/* Button Background Color Override */
.btn-bg-color {
    background-color: #E76F51;
}

/* Smaller text size */
.tiny-text-size {
    font-size: .75rem !important;
}

/* Orange Text Color For some special case */
.text-color-oragne {
    color: #E76F51;
}

/* custom margin for section top */
.custom-margin {
    margin-top: 7rem !important;
}

/* style for gray-scale fetured bike image */
.grayscale-image {
    /* Safari 6.0 - 9.0 */
    -webkit-filter: grayscale(100%);
    /* For other browsers */
    filter: grayscale(100%);
}

/* Custom Border Color For FAQ Section */
.accordion-border-color {
    border-color: #D5E5FB !important;
}

/* Custom Header Text Color for FAQ Section */
.accordion-header-text-color {
    color: #383838 !important;
}

/* Custom Body Text Color for FAQ Section */
.accordion-body-text-color {
    color: #7E848C !important;
}
